.heroBanner {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.sponsorLogo {
    height: 60px;
    margin: 0 1rem;
}

.section {
    padding: 2rem;

    @media screen {
        font-size: 18px;
    }
}

.sectionGrey {
    background-color: rgb(245, 245, 245);
}

.sponsors {
    display: flex;
    justify-content: center;
}

.container {
    padding: 0.75em max(calc((100vw - 900px) / 2), 1rem);
    display: flex;
    flex-direction: column;
}

